<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the chatserver</title>
    <style>
        div#chatboard {
        width: 60%;
        margin: 0 auto;
        border: solid 20px grey;
        background=color: #44a;
        }
        span.avitar {
        font-weight: bold;
        color: black;
        }
        span.timestamp {
        color: grey
        }
        div.bot, div.user {
            color: black;
            font-style: italic;
        }
        div.bot {

        }
        div.user {

        }
    </style>
</head>
<body>


'messages': messages,
            'latest_bot_message_id': request.session['latest_question_token'],
            'client_token': request.session['client_token'],
            'conversation_token': request.session['conversation_token'],

<div id="chatboard">
    {% for message in messages %}
    <div class="{{message.agent}}">
        <span class="avitar">{{message.agent}}</span>
        <span class="timestamp">{{message.timestamp}}</span>
        {{message.text}}
    </div>

    {% endfor %}
</div>
<form action="/" method="get">
    <input type="hidden" name="response_to" value="{{latest_bot_message_id}}" />
    <input type="hidden" name="client_token" value="{{client_token}}" />
    <input type="hidden" name="conversation_token" value="{{conversation_token}}" />
    <input type="text" name="client_message" value="" />
    <button type="submit" />
</form>

</body>
</html>